body {
    font-family: 'Halloween';
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url(../img/game_background_theme/bg_el_pollo_locco_1.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.pointer {
    cursor: pointer;
}

.intro-img {
    width: 720px;
    height: 480px;
    z-index: 1;
}

.d-none {
    display: none;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;
}

canvas {
    background-color: black;
}

.play-button {
    position: absolute;
    top: 30px;
    left: 40%;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    background-color: #FFDA00;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.play-button::before {
    width: 0;
    height: 0;
    background-color: #FFB700;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid black;
}

.start-game-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.game-over {
    position: absolute;
    z-index: 3;
}

.game-over-img {
    width: 720px;
    height: 480px;
}

.buttons-mobile {
    position: absolute;
    width: inherit;
    height: inherit;
}

.buttons-mobile img {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 2;
}

#full-screen {
    left: calc(100% - 30px);
}

#left-button {
    top: calc(100% - 40px);
    left: 10px;
}

#right-button {
    top: calc(100% - 40px);
    left: 50px;
}

#jump-button {
    top: calc(100% - 40px);
    left: calc(100% - 100px);
}

#throw-button {
    width: 40px;
    height: 40px;
    top: calc(100% - 50px);
    left: calc(100% - 50px);
}

/* .desktop {
    display: none;
}

@media (max-width: 768px) {
    .desktop {
        display: unset;
    }
    .start-game-section
    .canvas-container,
    .buttons-mobile,
    canvas {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 1026px) {
    #full-screen {
        display: none;
    }
} */
