* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

.gameScreen {
    height: 726px;
    width: 1440px;
    background-color: rgb(23, 115, 165);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
